# Data Sources and Examples for Durham Art and Culture Venues

## Art Galleries, Museums, and Live Theater
### 1. List of Communities in Durham, Ontario, Canada
### 2. Foursquare Data
### 3. Data from Web Search

## Art Galleries, Museums, and Live Theater
### We want to provide the user with the venues for art galleries, museums, and live theater.  These all have permanent venues that can be located on a map.  Other art and culture activities often use various venues such as churches and schools so we cannot provide a definite location for them.  We intend to set up a database for those activities without a home but that is outside the scope of this project.

## 1. List of Communities in Durham, Ontario, Canada
### I found the eight community regions in Durham by a web search.  In the data collection code I made a list of them and used that to get the latitude and longitude for each area.

communities = \['Ajax','Brock','Clarington','Oshawa','Pickering','Scugog','Uxbridge','Whitby'\]

### These are not all cities and towns. There are also townships and municipal regions.

## 2. Foursquare Data
### I downloaded venue data from Foursquare and created dataframes for all eight community regions.  The columns selected were
filtered_columns = \['name', 'address', 'city', 'category', 'lat', 'lng'\]

### These eight dataframes were concatenated into one dataframe with 357 rows. 
### Because the radius was set wide enough to get all of the rural areas there was some overlap of the radius and also some Toronto venues were picked up. The data was processed to remove duplicate rows and any venues with Toronto as the city. 
### This left 329 venues. There were 97 unique categories included in the dataframe.  After looking at the list of categories from the dataframe I selected these three relevant categories: Art gallery, Museum, and Theater.
### From 329 venues only 4 had those category values.

|	|name	|address	|city	|categories	|lat	|lng
|----|------|---------|-------|--------|-------|------|
|25	|Oshawa Community Museum	|1450 Simcoe St. South	|Oshawa	|Museum	|43.863789	|-78.827205|
|14	|The Robert McLaughlin Gallery (@theRMG)	|72 Queen St	|Oshawa	|Art Gallery	|43.895015	|-78.865704|
|94	|Station Gallery	|1450 Henry Street	|Whitby	|Art Gallery	|43.860443	|-78.935325|
|1	|Oshawa Little Theatre	|62 Russett Ave.	|Oshawa	|Theater	|43.930277	|-78.880503|

## 3. Data from Web Search
### After a search of the web I found 29 venues in Durham that were in the three categories.  I created a csv file with the same columns as the above dataframe has and will use it to create another dataframe after getting the latitude and longitude for each row.

|name	            |address	            |city	| categories   |lat	    |lng	    |
|-------------------|-----------------------|-------|------------|--------------|----------|
|Blue Willow Studio	|19 Patricia Avenue	|Oshawa	|Art Gallery|43.90155258	 |-78.84953387	|

### Then I wil combine the two dataframes. After duplicates are removed there will be 31 venues.  The result will be used to populate the map.